<%- include('../partials/header') %>
    <ul>
        <% skills.forEach(function(skill) { %>
             <li>
                <form action="/skills/<%= skill.id %>?_method=DELETE"
                    method="POST"
                    class="delete-form"
                >
                    <button type="submit">&times;</button>
                </form>
                <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>